html, body {
  height:100%;
  width:100%;
}
#color{
  background-color:blue;
}
/* portrait */
@media screen and (orientation:portrait) {
    #color{
	/* portrait-specific styles */
	background-color:red;
    }
}
/* landscape */
@media screen and (orientation:landscape) {
   .box{
	/* landscape-specific styles */
	background-color:green;
    }
}
