#backgroundimage {
  height:50%;
  background-image:url("http://phosphenes.tk/Facebook-13-iOS.jpg");
  background-size: 100% auto;
  background-attachment:scroll;
  background-position:top;
}
html, body {
  height:100%;
  width:100%;
}
